/**
* ! Changing default styles of the browser
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: #3c096c;
    --lilac: #c8b6ff;
    --white: #f0ecff;
    --red: #f72585;
    --light-purple: #b8c0ff;
}

body {
    font-family: 'Roboto', sans-serif;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--text);
}

/**
* ! Navbar styles are here
**/

.navbar {
    display: flex;
    flex-direction: row; /* this is the default value for display: flex; */
    justify-content: space-between;
    background-color: var(--lilac);
    color: var(--text);
    padding: 25px 60px;
    margin-bottom: 30px;
    align-items: center;
}

.cart {
    position: relative;
    background-color: var(--text);
    color: var(--white);
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}

.cartNumber {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: var(--red);
    color: var(--white);
    padding: 3px;
    border-radius: 3px;
}

/**
* ! Shop items styles are here
**/

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
}

@media (max-width: 1000px) {
    .shop {
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width: 500px) {
    .shop {
        grid-template-columns: repeat(1, 223px);
    }
}

.item {
    border: 4px solid var(--lilac);
    border-radius: 12px;
}

.image {
    width: 215px;
    height: 215px;
    border-radius: 8px;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    height: 200px;
}

.price-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.buttons {
    display: flex;
    gap: 8px;
    font-size: 16px;
}

.bi-dash-lg {
    color: var(--red);
}

.bi-plus-lg {
    color: var(--text)
}

/**
* ! style rules for labels and buttons
**/

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.HomeBtn {
    background-color: var(--light-purple);
    color: var(--text);
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.bi-x-lg {
    color: var(--red);
    font-weight: bold;
}

/**
* ! style rules for shopping-cart
**/

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
}

/**
* ! style rules for cart-item
**/

.cart-item {
    border: 4px solid var(--lilac);
    border-radius: 12px;
    display: flex;
}